{% extends 'layout.html' %}
{% block content %}

<form action="{{ url_for('itens_doacao') }}" method="POST" class="formulario_doacao">
    <div class="mb-3">
        <label for="doador_id" class="form-label">Doador</label>
        <select name="id_doador" class="form-control" required>
            <option value="">---</option>
            {% for doador in doadores %}
                <option value="{{ doador.id }}">{{ doador.nome }}</option>
            {% endfor %}
        </select>
    </div>

    <div class="mb-3">
        <label for="campanha_id" class="form-label">Campanha</label>
        <select name="id_campanha" class="form-control" required>
            <option value="">---</option>
            {% for campanha in campanhas %}
                <option value="{{ campanha.id }}">{{ campanha.titulo }}</option>
            {% endfor %}
        </select>
    </div>

    <div class="mb-3">
        <label for="tipo_doacao" class="form-label">Tipo de Doação</label>
        <select name="tipo_doacao" class="form-control" id="tipo_doacao" required>
            <option value="">---</option>
            <option value="dinheiro">Dinheiro</option>
            <option value="itens">Itens</option>
        </select>
    </div>

    <div class="mb-3" id="item-fields" style="display:none;">
        <label for="tipo_item" class="form-label">Tipo de Item</label>
        <input type="text" name="tipo_item" class="form-control" placeholder="Exemplo: Roupas, Alimentos">

        <label for="quantidade" class="form-label">Quantidade</label>
        <input type="number" name="quantidade" class="form-control">
    </div>

    <div class="mb-3" id="dinheiro-fields" style="display:none;">
        <label for="valor" class="form-label">Valor em Dinheiro</label>
        <input type="number" name="valor" class="form-control" placeholder="Valor em R$">
    </div>

    <div class="mb-3">
        <label for="data_doacao" class="form-label">Data da Doação</label>
        <input type="date" name="data_doacao" class="form-control" required>
    </div>

    <button type="submit" class="btn btn-primary" style="background-color: red; border: none;">Doar</button>
</form>

<script>
    document.getElementById('tipo_doacao').addEventListener('change', function() {
        if (this.value == 'itens') {
            document.getElementById('item-fields').style.display = 'block';
            document.getElementById('dinheiro-fields').style.display = 'none';
        } else if (this.value == 'dinheiro') {
            document.getElementById('item-fields').style.display = 'none';
            document.getElementById('dinheiro-fields').style.display = 'block';
        }
    });
</script>
{% endblock %}
