{% extends 'layout.html' %}

{% block title %}Editar Campanha{% endblock %}

{% block content %}
<h2>Editar Campanha</h2>

        <form class="formulario" action="{{ url_for('editar', id=campanha['id'])}}" method="post">
            <div class="info-form"><label for="titulo">Título:</label>
            <input type="text" name="titulo" id="titulo" value="{{ campanha['titulo']}}" required>
        </div>
            <div class="info-form"><label for="descrição">Descrição:</label>
            <textarea name="descricao" id="descricao">{{ campanha['descricao']}}</textarea>
        </div>
            <div class="info-form"><label for="meta_financeira">Meta Financeira:</label>
            <input type="number" step="0.01" name="meta_financeira" id="meta_financeira" value="{{ campanha['meta_financeira']}}">
        </div>
            <div class="info-form"><label for="meta_itens">Meta de Itens:</label>
            <input type="number" name="meta_itens" id="meta_itens" value="{{ campanha['meta_itens']}}">
        </div>
            <div class="info-form"><label for="data_inicio">Data de Início:</label>
            <input type="date" name="data_inicio" id="data_inicio" required value="{{ campanha['data_inicio']}}">
        </div>
            <div class="info-form"><label for="data_fim">Data de Fim:</label>
            <input type="date" name="data_fim" id="data_fim" required value="{{ campanha['data_fim']}}">
        </div>

        <button>Atualizar</button>

{% endblock %}