{% extends 'layout.html' %}
{% block title %} index {% endblock %}
{% block content %}

<div class="area-registro">
    <h1>Itens e valores monetários referentes a Campanha cadastrada</h1>

    <form class="formulario" action="">
        <label for="name">Nome do Item:</label>
        <input type="text">

        <label for="valor">Quantia monetária:</label>
        <input type="number" name="" id="">

        <label for="data">Data da doação:</label>
        <input type="datetime" name="" id="">

        <input class="but-regis" type="submit" value="REGISTRAR">
    </form>
</div>

{% endblock %}