<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Título Padrão{% endblock %}</title>
    <!-- <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}"> -->
</head>
<body>

    <header>
        <h1>PROJETO</h1>
    </header>

    <div class="container">
        {% block content %}
        <!-- Conteúdo principal será inserido aqui -->
        {% endblock %}
    </div>

    <footer>
    </footer>
</body>
</html>