{% extends 'layout.html' %}

{% block title %}Campanhas{% endblock %}

{% block content %}

<div class="lista-c">

    <h2>Lista de Campanhas</h2>

    <div class="blocos_de_campahas">
        {% if campanhas %}
            {% for campanha in campanhas %}

                    <div class="bloquinho_campanha">

                            <div class="info-campanha">
                                <h3 id="titulo-c">{{ campanha['titulo'] }}</h3>
                                <h4> Descrição: {{ campanha['descricao'] }}</h4>
                                <h4>Meta financeira: {{ campanha['meta_financeira'] }}</h4>
                                <h4>Meta itens: {{ campanha['meta_itens'] }}</h4>
                                <h4 class="datas">Data Inicial: {{ campanha['data_inicio'] }}</h4>
                                <h4 class="datas">Data Limite: {{ campanha['data_fim'] }}</h4>
                                <form action="{{url_for('doador')}}" method="post">
                                    <button class="butao" type="submit">Quero doar</button>
                                </form>
                            </div>

                        <div class="div-campanha">
                            <a href="{{ url_for('editar', id=campanha['id']) }}">editar</a> 
                            <form action="{{ url_for('concluida', id=campanha['id']) }}" method="post" class="form-campanha">
                                <button type="submit">Concluir</button>
                            </form>
                        </div>
                    </div>

            {% endfor %}

            {% else %}
                <p>Nenhuma campanha encontrada.</p>
        {% endif %}
    </div>
</div>

{% endblock %}