{% extends 'layout.html' %}
{% block title %}Doações Registradas{% endblock %}
{% block content %}


<div class="div-doacoes">
    <h2 class="h2-lista">Lista de Doações</h2>

    <table class="table table-striped">
        <thead>
            <tr>
                <th>Doador</th>
                <th>Campanha</th>
                <th>Categoria</th>
                <th>Tipo de Doação</th>
                <th>Quantidade de itens</th>
                <th>Valor</th>
                <th>Data da Doação</th>
            </tr>
        </thead>
        <tbody>
            {% for doacao in doacoes %}
                <tr>
                    <td>{{ doacao.doador_nome }}</td>
                    <td>{{ doacao.campanha_titulo }}</td>
                    <td>{{ doacao.categoria_nome }}</td>
                    <td>{{ doacao.tipo_doacao }}</td>
                    <td>{{ doacao.quantidade if doacao.tipo_doacao == 'itens' else '--' }}</td>
                    <td>{{ doacao.valor if doacao.tipo_doacao == 'dinheiro' else '--' }}</td>
                    <td>{{ doacao.data_doacao }}</td>
                </tr>
            {% else %}
                <tr>
                    <td colspan="7" class="text-center">Nenhuma doação registrada.</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>

</div>

{% endblock %}

